:root {
	--rows: 16;
	margin: 0px;
	box-sizing: border-box;
  --greenish: #2FDD92 ;

}

body {
  background: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
/*Header*/

header {
  text-align: center;
}

/*MODAL*/
/*modal */

.modal-container {
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.35);
  display: none;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 4px;
}

.modal > p {
  font-size: 0.8rem;
  margin: 9px;
}

input {
  margin-bottom: 5px;
}


/*MAIN*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Buttons on main*/
.buttons-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 4px;
  grid-template-areas:
    "newGrid"
    "toggle"
    "clear";
  justify-items: center;
  align-items: center;
  margin-bottom: 10px;
  width: 346px;

}

button {
  padding: 5px;
  border: none;
  width: 39%;
  border-radius: 4px;
  background-color: #eee;
  font-weight: 500;
}

button:hover {
  background-color: #ddd;
}

/*Grid*/
#grid-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.grid {
  position: absolute;
  top: 0;
  z-index: 1;
  display: grid;
  width: min(75vh, 75vw);
  height: min(75vh, 75vw);
  grid-template-columns: repeat(var(--rows), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}

.cell {
  background-color: white;
}

/*toggle*/
.new-grid { grid-area: newGrid; }

.toggle-container {
  margin: 0px 10px;
  grid-area: toggle;
  display: flex;
  gap: 4px;
}

#colorize {  display: none;}

.toggle {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 30px;
  border: 2px solid #eee;
  border-radius: 50px;
  cursor: pointer;
  transition: all 1s ease;
}

.toggle:before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 2px;
  border: 3px solid #fff;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50px;
  transition: all 0.4s ease;
}

#colorize:checked + .toggle {
  background: var(--greenish);
}

#colorize:checked + .toggle:before {
  transform: translateX(36px);
}
.clear { grid-area: clear; }

@media (min-width: 400px) {
  button {
    width: 95px;
  }
  .buttons-container {
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      grid-template-areas:
        "newGrid"
        "toggle"
        "clear";
      justify-items: center;
      align-items: center;
  }
  .new-grid { grid-area: 1 / 1 / 2 / 2; }
  .toggle-container { grid-area: 1 / 2 / 2 / 3; }
  .clear { grid-area: 1 / 3 / 2 / 4; }
}


